/*
 * 
 * Page
 * 
*/

.identation {
  display: block;
  width: 100%;
  margin: 2em 0 2em 0;
  font-size: 1.25em;
}
.post__list {
  display: flex;
  flex-direction: column;
}
.detail {
  position: relative;
  height: 100%;
  width: 100%;
}
.detail__image {
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  border: 1px solid #cfe6e6;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgb(20 40 50 / 5%), 0 1px 10px rgb(20 40 50 / 5%), 0 20px 30px rgb(20 40 50 / 8%);
}

.detail__image span {
  position: unset !important;
}

.image {
  aspect-ratio: 5/3;
  object-fit: cover;

  background: #333;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.detail__article {
  padding: 1em;
}
.detail__title {
  font-size: 2em;
  margin-bottom: 1em;
}
.inner {
  color: var(--text);
  line-height: 2;
  text-align: justify;
  overflow: hidden;
}