/*
 * 
 * Pagination
 * 
*/
.pagination {
  padding-top: 2em;
  display: flex;
}

.inner {
  display: inline-flex;
  margin: auto;
  padding: 0;
}

.button,
.button_active {
  display: inline-flex;
}

.button a {
  padding: 0.5em 1em;
  color: var(--text);
}

.button_active a {
  padding: 0.5em 1em;
  color: var(--primary);
  cursor: pointer;
}

.button a:hover,
.button_active a:hover {
  color: var(--primary);
}
.head {
  font-weight: 600;
}
