@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&family=Inconsolata&display=swap");

:root {
  --text: #12181b;
  --primary: rgb(29, 184, 29);
  --background: #ffff;
  --button-background: rgba(0, 0, 0, 0.04);
  --button-background-hover: rgba(0, 0, 0, 0.1);
}

html,
body {
  color: var(--text);
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
  background-color: var(--background);
  scroll-behavior: smooth;
}

a {
  color: var(--text);
  text-decoration: none;
}

pre {
  min-width: 100%;
  padding: 2em;
  margin: 2em 0;
  overflow-x: auto;
  line-height: 2;
  color: #abb2bf;
  background: #0d1117;
  border-radius: 0.5em;
}

code {
  font-family: "Inconsolata", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

li {
  display: block;
}

input,
button {
  font-family: "Lexend", sans-serif;
}

button {
  outline: none;
  border: none;
  padding: 4px 12px;
  line-height: 1.8;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
}

.identation {
  width: 100%;
  margin: 2em 0 1em 0;
  font-size: 1.25em;
}
/*
 * 
 * Container
 * 
*/
.container {
  max-width: 860px;
  margin: auto;
}

/*
 * 
 * Header
 * 
*/

header {
  margin: 2em 0 4em 0;
  width: 100%;
}
.header__logo {
  font-size: 3em;
  padding-bottom: 0.5em;
  font-weight: 700;
  border-bottom: 1px solid rgba(228, 228, 231, 1);
}
.header__logo a {
  cursor: pointer;
}
.header__desc {
  margin: 1em 0;
  font-size: 1.25em;
}

/*
 * 
 * Post
 * 
*/

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  align-items: start;
  justify-items: center;
  grid-gap: 3em;
  margin: 1em 0;
}

/*
 * 
 * Box
 * 
*/

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  margin-bottom: 1em;
  z-index: 0;
}

.box:hover {
  transform: translateY(-2px);
}
.box .category__component {
  justify-content: flex-end;
}
.box__image {
  position: relative;
  margin-bottom: -1.5em;
  z-index: -1;
}
.box__image .back {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateX(0) translateY(0) rotate(-6deg) skewX(0) skewY(0)
    scaleX(1) scaleY(1);
  background-image: linear-gradient(90deg, rgb(163, 230, 53), rgb(34, 197, 94));
}
.box__image .real a div {
  overflow: hidden;
  position: unset !important;
  height: 10em;
  width: 100%;
}

.box__image .real a .image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.box__content {
  color: var(--text);
  /* text-align: center; */
  padding: 0 0.5em;
  height: 100%;
}
.box__content a .heading {
  margin-top: 2em;
  cursor: pointer;
  line-height: 1.6;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-weight: 600;
}

.box__content .excerpt {
  font-size: 0.9em;
  opacity: 0.8;
  font-weight: 200;
  line-height: 1.6;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.box__content .date {
  line-height: 1.6;
  overflow: hidden;
}

/*
 * 
 * Category
 * 
*/
.category__page {
  margin: 4em auto;
  padding: 1em;
}
.category__component {
  display: flex;
}
.category {
  display: inline-flex;
  line-height: 1.4;
  font-weight: 600;
  margin-left: 0.5em;
  padding: 0.25em;
  color: var(--background);
  background: #db1d5f;
  cursor: pointer;
  font-size: 0.8em;
  letter-spacing: 0.15ch;
}

/*
 * 
 * Navigation
 * 
*/
.navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}
.dropdown {
  height: 2.5em;
  padding: 0 0.8em;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--card);
  color: var(--text);
}
.search {
  height: 2.5em;
  display: flex;
  align-items: center;
  background-color: var(--card);
  color: var(--text);
}
.search__bar {
  height: 2.5em;
  padding: 0.5em 1em;
  background-color: var(--card);
  color: var(--text);
  font-size: 1em;
  display: flex;
  outline: none;
  border: 0;
}
/*
 * 
 * Pagination
 * 
*/
.pagination {
  padding-top: 2em;
  display: flex;
}

.pagination .pagination-inner {
  display: inline-flex;
  margin: auto;
  padding: 0;
}

.pagination .pagination-inner .pagination-button,
.pagination .pagination-inner .pagination-button_active {
  display: inline-flex;
}

.pagination .pagination-inner .pagination-button a {
  padding: 0.5em 1em;
  background-color: var(--card);
  color: var(--text);
  transition: background-color 0.25s ease-in-out;
}

.pagination .pagination-inner .pagination-button_active a {
  padding: 0.5em 1em;
  background-color: var(--card);
  color: var(--primary);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pagination .pagination-inner .pagination-button a:hover,
.pagination .pagination-inner .pagination-button_active a:hover {
  color: var(--primary);
}
.pagination .pagination-inner .pagination-button .head {
  font-weight: 600;
}

/*
 * 
 * Detail
 * 
*/

.detail {
  padding: 2em;
  margin: 1em -1em;
}
.detail__title {
  font-size: 2em;
  margin-bottom: 1em;
}

.detail__image {
  width: 100%;
  padding: 0 1em;
  margin-bottom: 2em;
  position: relative;
}
.detail__image .back {
  top: 0;
  right: 1em;
  bottom: 0;
  left: 1em;
  position: absolute;
  transform: translateX(0) translateY(0) rotate(-6deg) skewX(0) skewY(0)
    scaleX(1) scaleY(1);
  background-image: linear-gradient(90deg, rgb(163, 230, 53), rgb(34, 197, 94));
}
.detail__image .real div {
  position: unset !important;
}

.detail__image .real div .image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.detail__article .inner {
  color: var(--text);
  font-weight: 400;
  line-height: 2;
  text-align: justify;
}

/*
 * 
 * Footer
 * 
*/

footer {
  margin-top: 2em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

/*
 * 
 * Responsive
 * 
*/
@media only screen and (max-width: 920px) {
  .container {
    padding: 0 0.5em;
  }
  .header__inner {
    padding: 1em;
  }
  .post-list {
    margin: 1em;
  }
  .box {
    grid-template-columns: 1fr;
    margin-bottom: 2em;
  }

  .box__content {
    margin: 0;
  }
  .detail {
    margin: 1em 0em;
  }
  .detail__image .back,
  .detail__image .real {
    right: 1em;
    left: 1em;
  }
}

@media only screen and (max-width: 680px) {
  body {
    font-size: 85%;
  }
}
@media only screen and (max-width: 540px) {
  body {
    font-size: 75%;
  }
}
@media only screen and (max-width: 480px) {
  .post-list {
    grid-gap: 1em;
    grid-template-columns: 1fr;
  }
  .box__image .real a div {
    height: auto;
    width: 100%;
  }
  .number {
    display: none;
  }
}
