@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700&family=Inconsolata&display=swap");

:root {
  --text: #423e37;
  --primary: rgb(29, 184, 29);
  --background: #efeefb;
  --background-box: #ffff;
  --button-background: rgba(0, 0, 0, 0.04);
  --button-background-hover: rgba(0, 0, 0, 0.1);
}

html,
body {
  color: var(--text);
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
  background-color: var(--background);
  scroll-behavior: smooth;
}

a {
  color: var(--text);
  text-decoration: none;
}

pre {
  min-width: 100%;
  padding: 2em;
  margin: 2em 0;
  overflow-x: auto;
  line-height: 2;
  color: #abb2bf;
  background: #0d1117;
  border-radius: 0.5em;
}

code {
  font-family: "Inconsolata", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

li {
  display: block;
}

input,
button {
  font-family: "Lexend", sans-serif;
}

button {
  outline: none;
  border: none;
  padding: 4px 12px;
  line-height: 1.8;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}

.identation {
  width: 100%;
  margin: 2em 0 1em 0;
  font-size: 1.25em;
}
/*
 * 
 * Container
 * 
*/
.container {
  max-width: 860px;
  margin: auto;
}

/*
 * 
 * Header
 * 
*/

header {
  margin: 0 0 4em 0;
  width: 100%;
}
.header__logo {
  display: flex;
  font-size: 2em;
  font-weight: 700;
  color: #ffff;
}
.header__logo .logo {
  padding: 0.5em 1em;
  cursor: pointer;
  background-image: linear-gradient(90deg, rgb(163, 230, 53), rgb(34, 197, 94));
  border-radius: 0 0 0.5em 0.5em;
}
.header__desc {
  margin: 1em 0;
  font-size: 1.25em;
}

/*
 * 
 * Post
 * 
*/

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  align-items: start;
  justify-items: center;
  grid-gap: 3em;
  padding: 2em 0;
}

/*
 * 
 * Box
 * 
*/

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
  margin-bottom: 1em;
  background-color: var(--background-box);
  box-shadow: -1px -1px 15px 0 rgb(0 0 0 / 3%);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 80ms ease-in-out;
  animation: fade-in 0.4s cubic-bezier(0.75, -0.5, 0, 1.75) 100ms
    backwards;
}

.box:hover {
  transform: translateY(-2px);
}
.box .category__component {
  margin: 1em 0 0.5em 0;
}
.box .card__image {
  position: relative;
}

.card__image div {
  position: unset !important;
  aspect-ratio: 5/3;
  width: 100%;
}

.card__image div .image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  background: #333;
}

.card__content {
  color: var(--text);
  padding: 0 1em;
  height: 100%;
}
.card__content a .heading {
  cursor: pointer;
  line-height: 1.6;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-weight: 600;
}

.card__content .excerpt {
  padding-top: 0.5em;
  font-size: 0.95em;
  opacity: 0.8;
  line-height: 1.6;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.card__content .date {
  line-height: 1.6;
  overflow: hidden;
}
@keyframes fade-in {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
/*
 * 
 * Category
 * 
*/
.category__page {
  margin: 4em auto;
  padding: 1em;
}
.category__component {
  display: flex;
  margin-bottom: 1em;
}
.category {
  display: inline-flex;
  line-height: 1.4;
  font-weight: 400;
  margin-right: 0.5em;
  color: var(--primary);
  cursor: pointer;
}

/*
 * 
 * Pagination
 * 
*/
.pagination {
  padding-top: 2em;
  display: flex;
}

.pagination .pagination-inner {
  display: inline-flex;
  margin: auto;
  padding: 0;
}

.pagination .pagination-inner .pagination-button,
.pagination .pagination-inner .pagination-button_active {
  display: inline-flex;
}

.pagination .pagination-inner .pagination-button a {
  padding: 0.5em 1em;
  background-color: var(--card);
  color: var(--text);
  transition: background-color 0.25s ease-in-out;
}

.pagination .pagination-inner .pagination-button_active a {
  padding: 0.5em 1em;
  background-color: var(--card);
  color: var(--primary);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.pagination .pagination-inner .pagination-button a:hover,
.pagination .pagination-inner .pagination-button_active a:hover {
  color: var(--primary);
}
.pagination .pagination-inner .pagination-button .head {
  font-weight: 600;
}

/*
 * 
 * Detail
 * 
*/

.detail {
  position: relative;
  height: 100%;
  width: 100%;
}
.detail__card {
  background-color: var(--background-box);
  box-shadow: 0 40px 34px -40px rgb(0 0 0 / 32%);
  border-radius: 6px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.detail__image {
  aspect-ratio: 5/3;
  width: 100%;
  margin-bottom: 2em;
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
}

.detail__image div {
  position: unset !important;
}

.detail__image div .image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.detail__article {
  padding: 1em;
}
.detail__title {
  font-size: 2em;
  margin-bottom: 1em;
}
.detail__article .inner {
  color: var(--text);
  line-height: 2;
  text-align: justify;
  overflow: hidden;
}

/*
 * 
 * Footer
 * 
*/

footer {
  margin-top: 2em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

/*
 * 
 * Responsive
 * 
*/
@media only screen and (max-width: 920px) {
  body {
    font-size: 98%;
  }
  .container {
    padding: 0 0.5em;
  }
  .header__inner {
    padding: 1em;
  }
  .post-list {
    padding-top: 2em;
    margin: 0 1em;
  }
  .box {
    grid-template-columns: 1fr;
    margin-bottom: 2em;
  }

  .card__content {
    margin: 0;
  }
  .detail {
    margin: 1em 0em;
    padding: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .post-list {
    grid-gap: 2em;
  }
}
@media only screen and (max-width: 680px) {
  body {
    font-size: 95%;
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 93%;
  }
  .post-list {
    grid-gap: 2em;
    grid-template-columns: 1fr;
  }

  .card__image .real a div {
    width: 100%;
    height: 15em;
  }
  .number {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .card__image .real a div {
    height: 12em;
  }
}
