:root {
  --text: #423e37;
  --primary: rgb(29, 184, 29);
  --background: #fff;
  --background-box: #ffff;
  --button-background: rgba(0, 0, 0, 0.04);
  --button-background-hover: rgba(0, 0, 0, 0.1);
  --max-width: 768px;
}

html,
body {
  color: var(--text);
  padding: 0;
  margin: 0;
  font-family: "Lexend", sans-serif;
  background-color: var(--background);
}

a {
  color: var(--text);
  text-decoration: none;
}

pre {
  min-width: 100%;
  padding: 2em;
  margin: 2em 0;
  overflow-x: auto;
  line-height: 2;
  color: #abb2bf;
  background: #0d1117;
  border-radius: 4px;
}

code {
  font-family: "Inconsolata", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

input,
button {
  font-family: "Lexend", sans-serif;
}

button {
  outline: none;
  border: none;
  padding: 4px 12px;
  line-height: 1.8;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
}
table {
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead th {
  background-color: #ddefef;
  border: solid 1px #ddeeee;
  color: #336b6b;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
table tbody td {
  border: solid 1px #ddeeee;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}

/* Header */
.header {
  border-bottom: 1px solid #e2ecec;
  z-index: 2;
  background-color: var(--background-box);
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s, border-color, 0.3s;
}
.header_container {
  margin: auto;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 3em;
}
.header_logo {
  display: flex;
  font-size: 2em;
  font-weight: 700;
}
.header_logo span {
  cursor: pointer;
}

/* Layout */
.identation {
  display: block;
  width: 100%;
  margin: 2em 0 2em 0;
  font-size: 1.25em;
}
.layout {
  max-width: var(--max-width);
  margin: 4em auto 0 auto;
}
.list {
  display: flex;
  flex-direction: column;
}
.detail {
  position: relative;
  height: 100%;
  width: 100%;
}
.detail_image {
  width: 100%;
  margin-bottom: 3em;
  position: relative;
  box-shadow: 0 4px 4px rgb(20 40 50 / 5%), 0 1px 10px rgb(20 40 50 / 5%),
    0 20px 30px rgb(20 40 50 / 8%);
  aspect-ratio: 5/3;
  object-fit: cover;
  background: #333;
}
.detail_title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1em;
}
.detail_info {
  display: block;
  margin-top: 0.5em;
  font-size: 0.85em;
  opacity: 0.95;
  text-align: center;
  line-height: 2;
}
.detail_inner {
  color: var(--text);
  line-height: 2;
  text-align: justify;
  overflow: hidden;
  margin-top: 1em;
}
.detail_inner img {
  width: 100%;
  margin: 1em 0;
  position: relative;
  box-shadow: 0 4px 4px rgb(20 40 50 / 5%), 0 1px 10px rgb(20 40 50 / 5%),
    0 20px 30px rgb(20 40 50 / 8%);
  aspect-ratio: 5/3;
  object-fit: cover;
  background: #333;
}

/* Box */
.box {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2em;
  margin-bottom: 4em;
  border-radius: 4px;
}
.box:hover {
  transform: translateY(-2px);
}
.box_image {
  width: 15em;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 4px 4px rgb(20 40 50 / 5%), 0 1px 10px rgb(20 40 50 / 5%),
    0 20px 30px rgb(20 40 50 / 8%);
  aspect-ratio: 5/3;
  object-fit: cover;
  background: #333;
}
.box_title {
  cursor: pointer;
  line-height: 1.6;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-weight: 600;
}
.box_excerpt {
  letter-spacing: 1.2px;
  line-height: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-top: 0.5em;
}
.box_info {
  display: block;
  margin-top: 0.5em;
  font-size: 0.95em;
  opacity: 0.95;
  line-height: 2;
}
/* Category */
.category {
  display: inline-block;
}
.category_child {
  line-height: 1.4;
  font-weight: 400;
  margin-right: 0.5em;
  cursor: pointer;
}

/* Pagination */
.pagination {
  padding-top: 2em;
  display: flex;
}
.pagination_inner {
  display: inline-flex;
  margin: auto;
  padding: 0;
}
.pagination_inner .button,
.pagination_inner .button_active {
  display: inline-flex;
}

.pagination_inner .button a {
  padding: 0.5em 1em;
  color: var(--text);
}

.pagination_inner .button_active a {
  padding: 0.5em 1em;
  color: var(--primary);
  cursor: pointer;
}

.pagination_inner .button a:hover,
.pagination_inner .button_active a:hover {
  color: var(--primary);
}
.pagination_inner .button a .head {
  font-weight: 600;
}

/* Footer */
.footer_real {
  margin-top: 2em;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}
@media only screen and (max-width: 920px) {
  body {
    font-size: 98%;
  }
}
@media only screen and (max-width: 680px) {
  body {
    font-size: 95%;
  }
  .header {
    padding: 0 1em;
  }
  .box {
    grid-template-columns: 1fr;
    margin-bottom: 4em;
    padding: 1em;
    margin-top: 1em;
  }
  .box_image {
    width: 100%;
  }
  .layout {
    padding: 0 1em;
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 93%;
  }
  .header {
    padding: 0 0.5em;
  }
  .layout {
    padding: 0 0.5em;
  }
}
